*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    height: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)), url(bg.jpg);
    background-position: center;
    background-size: cover;
}
.container{
    position: absolute;
    height: 50vh;
    width: 50vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(176, 176, 226);
    border-radius: 10px;
}
#clock{
    padding: 10px;
    text-align: center;
}
#particles-js{
    width: 100%;
    height: 100vh;
}
.btns{
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translate(-50%,-50%);
    flex-direction: row;
}
#btnStart,#btnBreak{ 
   box-sizing: 20px; 
   height: 5vh;
   width: 10vw;
   background-color: rgb(191, 142, 236);
}